@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
    --fonte-destaque: 'Fjalla One', sans-serif;
    --fonte-titulo: 'Luckiest Guy', cursive;
    
    --cor-destaque: #14929b;
    --cor-padrao: #2e307b;    
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}

h1 {
    color: var(--cor-destaque);
    background-image: linear-gradient(to right, var(--cor-destaque), transparent);
    
}
.addTask {
    margin: 10px;
    border: 1px solid var(--cor-padrao);
    border-radius: 3px;
    outline: 0;
    height: 2em;
    width: 15%;
}
.btnAddTask {
    border: 0;
    padding: 5px;    
    background-color: var(--cor-destaque);
    color: var(--cor-branco);
    border-radius: 5px;
    font-weight: bold;    
    height: 3em;    
    cursor: pointer;    
}
.shadow {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.800);
}